@import 'reset';
@import 'variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;

    body {
        background-color: $bcg-color;
        margin: inherit;
        padding: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    
        .main {
            background-color: $bcg-color-main;
            border: 1px solid $bcg-color-main;
            border-radius: 10px;
            padding: 20px;
            height: 70%;
            display: flex;
            justify-content: center;
            // align-items: center;
            flex-direction: column;

            .inputNumber {
                display: flex;
                width: 100%;

                .input {
                    width: 100%;
                    background-color: #fff;
                    border: 1px solid #fff;
                    border-radius: 2.5px;
                    color: $bcg-color-btn;
                }
            }

            input {
                background-color: $bcg-color-btn;
                border: 1px solid $bcg-color-btn;
                border-radius: 2.5px;
                color: $color-numbers;
                height: 50px;
                width: 100px;
                cursor: pointer;
                outline: none;
                margin: 5px;
                font-family: $font-numbers;
                font-size: 1rem;
            }

            .numbers {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
            }
        }
    }
}

